@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}

:root {
    --primary: rgb(63, 81, 181);
    --synthax-blue: var(--primary);
    --md-accent-fg-color: var(--synthax-blue);
}

[data-md-color-scheme="default"] {
    /* dark theme */
    /*--primary: #ecb22e;--synthax-blue: #ecb22e;*/
    --primary: rgb(63, 81, 181);
    --synthax-blue: var(--primary);
    --dark: #313131;
    --synthax-red: #03DAC6;
    --md-typeset-a-color: var(--synthax-blue);
    --md-primary-fg-color: var(--primary);
    --md-primary-fg-color--light: var(--primary);
    --md-primary-fg-color--dark: var(--primary);
    --md-accent-fg-color: var(--synthax-blue);
}

[data-md-color-scheme="slate"] {
    /* dark theme */
    /*--primary: #ecb22e;--synthax-blue: #ecb22e;*/
    --dark: #313131;
    --synthax-red: #03DAC6;
    --md-typeset-a-color: var(--synthax-blue);
    --md-primary-fg-color: var(--primary);
    --md-primary-fg-color--light: var(--primary);
    --md-primary-fg-color--dark: var(--primary);
    --md-accent-fg-color: var(--synthax-blue);
}


html {
    font-size: 115%;
}

p {
    font-size: 1.2em;
}

.md-header {
    background-color: var(--md-footer-bg-color);
}

.md-typeset ul li p {
    margin: 0;
}

.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    line-height: 2.0;
}

li {
    list-style: none;
    margin-bottom: 0 !important;
}

.autodoc-signature>em:first-of-type {
    font-style: normal;
    font-weight: bold;
    color: var(--primary);
}

h2 code {
    color: var(--synthax-red) !important;
}

h4 code {
    color: var(--synthax-blue) !important;
    font-weight: bold !important;
    background-color: rgba(31, 31, 31, 0.05) !important;
    padding: 5px !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    font-size: 95% !important;
}

[data-md-color-scheme="slate"] h4 code {
    background-color: rgba(240, 240, 240, 0.05) !important;
}

.admonition {
    font-size: 95% !important;
}

img[alt*="Colab"] {
    transform: translateY(3px);
    padding-left: 5px;
    width: 150px;
}

.md-typeset img,
.md-typeset svg {
    max-width: none;
}

.md-typeset .task-list-control [type=checkbox]:checked+.task-list-indicator::before {
    background: var(--primary) !important;
}

.md-typeset ul li,
.md-typeset ol li {
    margin-bottom: .4em !important;
}

h2.numkdoc~p:not(.footnote),
h2.numkdoc~ul:not(.footnote),
h2.numkdoc~ul li ul:not(.footnote),
h2.numkdoc~ul li:not(.footnote) {
    --margin: 0.06em;
    margin-bottom: var(--margin) !important;
    margin-top: var(--margin) !important;
}

table {
    border: solid 2px rgba(255, 255, 255, 0.1);
}

.md-typeset table:not([class]) th {
    background-color: var(--dark);
}

[data-md-color-scheme="slate"] .md-typeset table:not([class]) th {
    color: white !important;
}

.md-typeset__table {
    width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

.md-typeset thead:not([class]) {
    color: white;
}

table th a {
    color: var(--synthax-red) !important;
    word-break: break-word !important;
}

span.parameter-name {
    color: var(--primary);
}

li .parameter-type {
    font-weight: bold;
}

.parameter-self {
    color: var(--synthax-red);
}

.md-typeset table:not([class]) {
    font-size: 0.8rem;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    width: 2.0rem !important;
    height: auto !important;
}

.md-clipboard {
    transition: all 0.25s ease;
    color: var(--synthax-red) !important;
    opacity: 0.25;
}

.md-clipboard:focus,
.md-clipboard:hover {
    opacity: 1.0;
}

.latex-font {
    font-family: "Computer Modern";
}

.mono {
    font-family: monospace;
}

.authors-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.author-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    text-align: center;
    width: 100%;
}

.author-block img {
    width: 100px;
}

div,
span {
    overflow-wrap: anywhere;
}

.box-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.md-typeset .md-button {
    padding: 0.2em 2em;
}

.brown-txt,
.brown-txt:hover {
    color: rgb(218, 56, 49) !important;
}

.blue-deel {
    color: rgb(84, 134, 255);
}

.red-deel {
    color: rgb(235, 85, 62);
}

@media (max-width: 1400px) {
    #indicators {
        display: None;
    }

    .feature-viz-intro .gallery-container-img {
        width: 100% !important;
        max-width: 270px;
    }

    .feature-viz-intro .gallery-container-img:hover {
        transform: scale(1.1) !important;
    }
}

@media (max-width: 768px) {

    .container-title {
        flex-wrap: wrap;
    }
    .container-title .gif-intro {
        width: 101% !important;
        margin-top: 25px;
    }

    .page-title {
        flex: 0 0 100% !important;
        text-align: center !important;
    }

    /* Hide only the last gif intro */
    .gif-intro:last-child {
        /*display: none;*/
    }

    /* and give the other ones a bit more space */
    .gif-intro {
        width: 50% !important;
    }
}

.md-grid {
    max-width: 71rem;
}

.flex-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gif-intro {
    width: 105%;
    margin: auto;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3%;
    padding: 0;
    border: solid 2px var(--dark);
    overflow: hidden;
}

.flex-gif.gallery-gif .gif-intro {
    width: 45%;
    border-radius: 1%;
    margin-top: 20px;
}

.button-style {
    font-size: 1em;
    background: var(--dark);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white !important;
    border-radius: 16.5px;
    font-weight: bold;
}